body{ font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
title{ font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
a{ color: gray;}
h1{ color: #4c0000;}
h2{ color: #203c53;}